@charset "utf-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
tr,
td {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Microsoft yahei', '微软雅黑', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background: #fff;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
    font-style: normal;
    font-weight: normal;
}

/** 重置列表元素 **/
ul,
ol {
    list-style: none;
}

/** 重置文本格式元素 **/
a {
    text-decoration: none;
    outline: none;
    color: #333;
}

a:hover {
    text-decoration: none;
}

:focus {
    outline: 0;
}

textarea {
    resize: none;
}

fieldset,
img {
    border: 0;
}

/** 重置表格元素 **/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

sup,
sub {
    font-size: 100%;
    vertical-align: baseline;
}

legend {
    color: #000;
}

del,
ins {
    text-decoration: none;
}

small {
    font-size: 12px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    *font-size: 100%;
}

/* 清浮动 */
.clearfix:after {
    content: '.';
    display: block;
    width: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.d-show {
    display: block;
}

.d-hide {
    display: none;
}

.v-show {
    visibility: visible;
}

.v-hide {
    visibility: hidden;
}

.o-show {
    overflow: auto;
}

.o-hide {
    overflow: hidden;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.text-l {
    text-align: left;
}

.text-r {
    text-align: right;
}

.text-c {
    text-align: center;
}

.text-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.multi-text-nowrap {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /*行数*/
    text-overflow: ellipsis;
    overflow: hidden;
}
